<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>财经早餐</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<script src="../js/flexible.js"></script>
</head>
<body>

	<div class="main" >
		<div class="news-bigtit" style="width: 100%;font-size: 1rem;color: #000;line-height: 1.8rem;text-align: center;margin-bottom: .5rem;"></div>
		<div class="news">
			
		</div>
		
		<div class="news-btm">
			<div class="news-btm-tip">以上信息来源于互联网公开信息，我们不对其真实性和完整性负责，亦不代表我们的观点或构成投资建议。版权归原创者所有，如有侵权，请联系我们及时删除。</div>
			<div class="news-btm-name">Gupern</div>
		</div>

	</div>

	<script src="../js/jquery-3.3.1.js"></script>

	<script>

	var MainURL = 'http://192.168.0.4/esps/api/get_news/';

	// 获取当天日期
	var myDate = new Date();
	var getYear= myDate.getFullYear();
	var getMonth= myDate.getMonth(); 
	var getDate= myDate.getDate(); 
	 
	if(getDate < 10) {
		getDate = '0' + getDate;
	}else {
		getDate = getDate;
	}

	if(getMonth < 9) {
		getMonth = '0' + (getMonth +1 );
	}else {
		getMonth = (getMonth + 1);
	}

	todayDate = getYear +'-'+ getMonth +'-'+ getDate;

	var getDataUrl = MainURL + todayDate;
	
	var request = {
		QueryString : function(val) { 
			var uri = window.location.search; 
			var re = new RegExp("" +val+ "\=([^\&\?]*)", "ig"); 
			var getUrlDate = (uri.match(re))?(uri.match(re)[0].substr(val.length+1)):null;
			console.log('getUrlDate', getUrlDate);
			if (getUrlDate != null) {
				if (getUrlDate.length == 10 || getUrlDate.length == 8) {
					getDataUrl = MainURL + getUrlDate
					todayDate = getUrlDate	
				}
			}
		}
	}
	request.QueryString("date")
	console.log('getUrlDate', todayDate);
	$('.news-bigtit').text(todayDate + '财经早餐');


	var  getArr = []; 
	$(function() {
		$.ajax({
			"type": "GET",
	        "url": getDataUrl,
	        "dataType": "json",
	        "success": function (data) {
	        	getArr = data.data;
	            console.log("请求数据成功", data.data);

	            if (getArr.length == 0) {
					noneHTML();
	            }else {
	            	conentHTML();
	            }
	        },
	        error: function(data){
		    noneHTML();
		    console.log("网络有问题请刷新",data)
		  }
	    });
	});

function conentHTML() {	
	// 高层表态
	if (getArr.technology_news.length > 0) {
		var htmladd='';
		htmladd +='<div class="news-con news-orange">'
		htmladd +='	<div class="news-bigtit ">科技动态</div>'
		htmladd +='	<ul class="news-ul technology_news">'
		htmladd +='	</ul>'
		htmladd +='</div>'

		var htmladd_aiData='';
		for (var i = 0; i < getArr.technology_news.length; i++) {
			var num = i + 1;
			htmladd_aiData +='<li class="news-li">'
			htmladd_aiData +='	<h2 class="news-tit">'+ num+'、'+getArr.technology_news[i].title+'</h2>'
			htmladd_aiData +='	<p class="news-p">'+ getArr.technology_news[i].abstract +'</p>'
			htmladd_aiData +='</li>'
		}

		$(".news").append(htmladd)
		$(".technology_news").append(htmladd_aiData)
	}
}

function noneHTML() {	
	var htmladd='';
	htmladd +='<div class="none-tip">当天未发布财经早餐，请稍后再来。</div>'
	$(".news").append(htmladd)

}


	</script>
</body>
</html>