@charset 'utf-8';
/* CSS reset */
html{color:#000;background:#FFF;font-family:Arial,'Microsoft YaHei','宋体';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:'Microsoft YaHei',Arial,'宋体';}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#fff; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
html,body{
	width:100%;
	height:100%;
    -webkit-overflow-scrolling: touch;	
}

.main {
    padding-top: 12px;
     word-break: break-all;
    text-align: justify;
}
.news-con {
    padding-top: .3rem;
    border-bottom: .5rem solid #eaeaea;
}
.news-bigtit {
    width: 96%;
    font-size: .8rem;
    line-height: 1.2rem;
    padding-left: 10px;
    height: 1.2rem;
    margin:0 auto .35rem;
    box-sizing: border-box;
}
.news-orange .news-bigtit {
    border-left: 4px solid #f04928;
}
.news-orange .news-bigtit,
.news-orange .news-tit {
    color: #f04928;
}

.news-blue .news-bigtit {
    border-left: 4px solid #2e80f5;
}
.news-blue .news-bigtit,
.news-blue .news-tit{
    color: #2e80f5
}

.news-deep-blue .news-bigtit {
    border-left: 4px solid #36769e;
}
.news-deep-blue .news-bigtit,
.news-deep-blue .news-tit{
    color: #36769e
}

.news-yellow .news-bigtit {
    border-left: 4px solid #fd862f;
}
.news-yellow .news-bigtit,
.news-yellow .news-tit{
    color: #fd862f;
}

.news-green .news-bigtit {
    border-left: 4px solid #51ad55;
}
.news-green .news-bigtit,
.news-green .news-tit{
    color: #51ad55;
}

.news-purple .news-bigtit {
    border-left: 4px solid #7738a0;
}
.news-purple .news-bigtit,
.news-purple .news-tit{
    color: #7738a0;
}


.news-tit {
    font-size: .6rem;
    line-height: 1rem;
    margin-bottom: .3rem;
}
.news-p {
    font-size: .6rem;
    line-height: 1rem;
}
.news-li {
    width: 96%;
    margin: 0 auto .5rem;
    padding: 0 2% .5rem;
    border-bottom: 1px solid #eaeaea;
}
.news-li:nth-last-child(1) {
    margin: 0 auto;
}
.news-btm {
    width: 96%;
    padding: 10px 2%;
    background: #eaeaea;
}
.news-btm-name {
    text-align: right;
}
.news-btm-tip {
    margin-bottom: .3rem;
}
.news-btm-tip,
.news-btm-name {
    font-size: .4rem;
}

.none-tip {
    font-size: .8rem;
    line-height: 2rem;
    text-align: center;
}